<!DOCTYPE html>
<html>
  <head>
    <style>

      .content, form {
            font-family: "Helvetica",sans-serif;
            width: 94%;
            margin: 4em auto;
            font-size: 20px;
            line-height: 30px;
            text-align: justify;
      }
      header {
            width: 100%;
            height: 100vh;
            background: url('/hp_bg.jpg') no-repeat 50% 50%;
            background-size: cover;
      }
      .smt{
        background-color: #556B2F;
        color: white;
        font-size: 25px;
        margin-left: 20px;
      }
      #background{
        background-color: #556B2F;
        color: white;
        font-size: 25px;
      }
      #login{
        border-radius: 20px;
        border-color: #751717;
      }
      #logbtn{
        border-radius: 20px;
        background-color: #556B2F;
        border-color: #751717;
        color: white;
      }

    </style>
  </head>
  <%- include('head'); -%>
  <body>
    <header>
    <%- include('navbar'); -%>
    </header>
    <main>
      <%_ if (admin) { -%>
        <form  method="post" action="/upload" encType="multipart/form-data">
          <label for="img">Change Background Image:</label>
          <input id = "background" type="file" id="img" name="img" accept="image/*">
          <input id = "background" class="smt" type="submit">
        </form>
      <%_ } -%>
        <div class="content">
           <p>
             Welcome to The Farm, a student run cafe in partnership with the Sustainability Program, Dining Services, Seed to Table, and Business in the Liberal Arts.

Our goal is to provide campus with locally sourced sustainably grown food. We hope to use the cafe to tackle multiple intellectual topics including sustainability, justice, entrepreneurship, culture, cuisine, agriculture, systems thinking and diversity.</p>

            <p>The Sustainability Program trains students to become sustainability leaders in their local and global communities. Through engaged pedagogies that bring students out of traditional classrooms, students will learn how to identify problems, brainstorm solutions, evaluate potential consequences, and implement solutions to local and global problems.</p>

            <p>Student's in the Sustainability Programs core class developed the idea in spring 2018 and launched a pilot cafe in spring 2019. Since the fall of 2019, the cafe has run weekly in the fall as part of the Green Cafe course. Students learn how to launch their own sustainable pop-up café, through guided academic learning, instruction from a professional chef, and collaborations with student organizations
           </p>
        </div>
        <div class="content">
           <h3>Learning Goals</h3>
           <ul>
             <li>To explore the relationship between food, culture, & society by reflecting on one’s own food background and that of others and to adapt this learning into sustainable food business design</li>
             <li>To actively incorporate strategic and intentional thinking to plan and operate a small entrepreneurial enterprise on campus</li>
             <li>To be exposed to, acquire skills for, and analyze the outcomes of a sustainability driven Farm to Table food system, including concepts and practical skills in:</li>
             <ul>
               <li>Organic farming, harvesting, & food storage;
                 <li>Menu development & meal preparation;</li>
                 <li>Café service and restaurateur management;</li>
                 <li>Inclusive community collaboration, including with student groups, costumers, and stakeholders in the North Country food system;</li>
                 <li>Integrating social and ecological values into business design and communication.</li>
             </ul>
           </ul>
        </div>
        <%_ if (!admin) { -%>
          <div class="content">
            <form id="lgn">
              <input id = "login" type="password" placeholder="Admin Password" name="psw">
              <button id ="logbtn" type="submit">Admin Login</button>
            </form>
          </div>
        <%_ } -%>
    </main>
    <script>
      $('#lgn').on('submit', function(event) {
        const form = $(this);
        event.preventDefault();
        $.ajax({method: 'post', url: '/login', data : form.serialize()})
          .done(() => window.location.replace('/reservations'))
          .fail(error => alert("You have entered the wrong password"));
      });
    </script>
  </body>
</html>
