
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Green Cafe</title>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://font-awesome.com/releases/v5.8.2/css/all.css">
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script>
        $(document).ready(function() {
           $(".menu-icon").on("click", function() {
                 $("nav ul").toggleClass("showing");
           });
     });

     // Scrolling Effect

     $(window).on("scroll", function() {
           if($(window).scrollTop() > 50) {
                 $('nav').addClass('green');
           }

           else {
                 $('nav').removeClass('green');
           }
         })
      </script>
      <style>
        html, body {
              margin: 0;
              padding: 0;
              width: 100%;
        }

        body {
              font-family: "American Typewriter",serif;
              font-weight: lighter;

        }


        .logo {
              line-height: 60px;
              position: fixed;
              float: left;
              margin: 16px 46px;
              color: #556B2F;
              font-weight: bold;
              font-size: 25px;
              letter-spacing: 2px;
        }
        nav.green .logo {

              color: #fff;

        }

        nav {
              position: fixed;
              width: 100%;
              z-index:1;

        }

        nav ul {
              line-height: 60px;
              list-style: none;
              background: rgba(0, 0, 0, 0);
              overflow: hidden;
              color: #fff;
              padding: 0;
              text-align: right;
              margin: 0;
              padding-right: 40px;
              transition: 1s;
        }

        nav.green ul {
              background: #556B2F;

        }

        nav ul li {
              display: inline-block;
              padding: 16px 40px;;
        }

        nav ul li a {
              text-decoration: none;
              color: #556B2F;
              font-weight: bold;
              font-size: 16px;
              transition: 0s;
        }
        nav.green ul li a {

              color: #fff;

        }
        a:hover{
              color: brown;
              text-decoration: none;
              transition: 0.3s;
        }

        .menu-icon {
              line-height: 60px;
              width: 100%;
              background: #000;
              text-align: right;
              box-sizing: border-box;
              padding: 15px 24px;
              cursor: pointer;
              color: #fff;
              display: none;
        }

        @media(max-width: 850px) {

              .logo{
                    position: fixed;
                    top: 0;
                    margin-top: 16px;
              }

              nav ul {
                    max-height: 0px;
                    background: #000;
              }

              nav.green ul {
                    background: #000;
              }

              .showing {
                    max-height: 34em;
              }

              nav ul li {
                    box-sizing: border-box;
                    width: 100%;
                    padding: 24px;
                    text-align: center;
              }

              a:hover{
                    color: #556B2F;
                    text-decoration: none;
                    transition: 0.3s;
              }


              .menu-icon {
                    display: block;
              }

        }



      </style>
   </head>
   <header>


            <nav>
               <div class="menu-icon">
                  <i class="fa fa-bars fa-2x"></i>
               </div>
               <a href="/" class="logo">
                  The Farm
               </a>
               <div class="menu">
                  <ul>
                     <li><a href="/menus">Menus</a></li>
                     <li><a href="/reservations">Reservations</a></li>
                     <%_ if (admin) { -%>
                       <li><a href="/reservations/mail">Mail</a></li>
                     <%_ } -%>
                     <%_ if (admin) { -%>
                       <li><a href="/logout" class="nav-item nav-link">Logout</a></li>
                     <%_ } -%>
                  </ul>
               </div>
            </nav>
    </header>
</html>
